<h1 class="text-2xl font-semibold text-gray-800 lg:text-3xl mt-10 mb-4 text-center"><%=game.title%></h1>
<% if(game.sourceType === "embed") { %>
<embed
  src="<%=game.source%>"
  style="margin: 0 auto;display: block;"
  width="<%=game.width%>" 
  height="<%=game.height%>" 
  quality="high"
/>
<% } else if(game.sourceType === "iframe") {%>
<iframe 
  src="<%=game.source%>"
  style="margin: 0 auto;display: block;"
  width="<%=game.width%>" 
  height="<%=game.height%>"
></iframe>
<% } %>
<p class="text-center mb-10"><a class="text-gray-600 text-center underline" href="/report">Report Issue</a></p>