<h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl mt-10 text-center"><%= game.title %></h1>
<p class="text-center mb-10 text-gray-300 w-3/5 m-4 block mx-auto"><%= game.description %></p>
<% if(game.gameType === "proxy") { %>
  <p class="text-center mb-10 text-gray-300 w-3/5 m-4 block mx-auto">Note: Proxied games may be blocked by wifi.</p>
<% } %>
<div class="block mx-auto" style="width: <%= game.width %>; height: calc(<%= game.height %> + 50px); background: #111827;">
  <div id="gameWindow" class="block mx-auto" style="width: <%= game.width %>; height: <%= game.height %>;">
    <% if(game.gameType === "flash") { %>
      <%- include("./games/flash") %>
    <% } else if(game.gameType === "html") { %>
      <%- include("./games/html") %>
    <% } else if(game.gameType === "proxy") { %>
      <%- include("./games/proxy") %>
    <% } else { %>
      <%- include("./games/emulator") %>
    <% } %>
  </div>
  <span class="text-gray-300 px-5 cursor-pointer float-left" style="line-height: 50px;" onclick="fullscreen()">Enter fullscreen</span>
  <span class="text-gray-300 px-5 cursor-pointer float-right" style="line-height: 50px;"><a href="/report?q=<%= game.title %>" target="_blank">Report Issue</a></span>
</div>