<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>
    
    <!-- Title --->
    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Games</h1>
      
    <!-- Unlisted Game Page Information -->
    <p class="text-gray-400 text-center">
      Can&apos;t find a game? Look in our unlisted games page. We put games that are broken or unpopular there to free up space.<br/>
      <a class="underline hover:text-amber-500" href="/unlisted-games">Go to unlisted games page.</a>
    </p>
    
    <!-- Game Search -->
    <%- include("../components/search") %>

    <!-- Game List -->
    <% let first = true; %>
    <% Object.keys(games).map(function (key, index) { %>
      <% let section = games[key]; %>
      <% let keys = Object.keys(games); %>
      <% let nextKey = keys[index + 1]; %>
      <% let nextSection = games[nextKey]; %>
      <% if(first && nextSection) { %>
        <% first = !first; %>
        <div class="sm:flex text-center m-10">
          <div class="flex-1 my-8">
            <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl"><%= key.split("")[0].toUpperCase()%>-<%=key.split("")[1].toUpperCase()%>:</h1>
            <ul class="text-center">
            <% section.map(function (game, index) { %>
              <span class="text-gray-400 hover:text-amber-500">
                <a href="/game<%= game.route %>"><%= game.title %></a><br/>
              </span>
            <% }); %>
            </ul>
          </div>
          <div class="flex-1 my-8">
            <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl"><%= nextKey !== "other" ? (nextKey.split("")[0].toUpperCase() + "-" + nextKey.split("")[1].toUpperCase()) : "Other" %>:</h1>
            <ul class="text-center">
            <% nextSection.map(function (game, index) { %>
              <span class="text-gray-400 hover:text-amber-500">
                <a href="/game<%= game.route %>"><%= game.title %></a><br/>
              </span>
            <% }); %>
            </ul>
          </div>
        </div>
      <% } else { %>
        <% first = !first; %> 
      <% } %>
    <% }); %>
    
    <%- include("../components/footer") %>
  </body>
</html>