<!DOCTYPE html>
<html lang="en">
  <head>
  
    <%- include("../components/head") %>
    
  </head>
  <body>
  
    <%- include("../components/nav") %>
    
    <section class="container px-6 py-16 mx-auto">
      <div class="items-center lg:flex">
        <div class="flex items-center justify-center md:w-48">
        </div>
        <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
            <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl">
              <img class="h-10" src="/img/banner.svg" alt="Radon Games"/>
            </h1>
            <p class="mt-4 text-gray-400">An open-source unblocked games website built with simplicity in mind.</p>
          </div>
        </div>
        <div class="flex items-center justify-center md:w-32">
        </div>
        <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
          <img class="w-96" src="/img/game-world.svg" alt="Game World"/>
        </div>
        <div class="flex items-center justify-center md:w-48">
        </div>
      </div>
    </section>

    <section>
      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center md:w-48">
          </div>
          <div>
            <svg class="w-8 h-8" viewBox="0 0 30 30" fill="none">
              <path d="M29.6931 14.2283L22.7556 6.87823C22.3292 6.426 21.6175 6.40538 21.1652 6.83212C20.7137 7.25851 20.6927 7.9706 21.1195 8.42248L27.3284 15L21.1195 21.5783C20.6927 22.0302 20.7137 22.7419 21.1652 23.1687C21.3827 23.3738 21.6606 23.4754 21.9374 23.4754C22.2363 23.4754 22.5348 23.3569 22.7557 23.1233L29.6932 15.7729C30.1022 15.339 30.1023 14.6618 29.6931 14.2283Z" fill="#e5e7eb"/><path d="M8.88087 21.578L2.67236 15L8.88087 8.42215C9.30726 7.97028 9.28664 7.25812 8.83476 6.83179C8.38323 6.4054 7.67073 6.42603 7.2444 6.87791L0.306858 14.2279C-0.102245 14.6614 -0.102245 15.3391 0.306858 15.7726L7.24475 23.123C7.466 23.3574 7.76413 23.4755 8.06302 23.4755C8.33976 23.4755 8.61767 23.3735 8.83476 23.1684C9.28705 22.742 9.30726 22.0299 8.88087 21.578Z" fill="#e5e7eb"/><path d="M16.8201 3.08774C16.2062 2.99476 15.6317 3.41622 15.5379 4.03011L12.2379 25.6302C12.1441 26.2445 12.566 26.8186 13.1803 26.9124C13.238 26.921 13.295 26.9252 13.3516 26.9252C13.898 26.9252 14.3773 26.5266 14.4624 25.97L17.7624 4.3699C17.8562 3.7556 17.4343 3.1815 16.8201 3.08774Z" fill="#f59e0b"/>
            </svg>
            <h1 class="mt-4 text-xl font-semibold text-gray-200">Open Source on GitHub</h1>
            <p class="mt-2 text-gray-400">Radon Games is open source on GitHub so you can view all of the code and make your own deployment on any platform.</p>
          </div>

          <div>
            <svg class="w-8 h-8" viewBox="0 0 24 24" fill="none">
              <path d="M22.548 9l.452-2h-5.364l1.364-6h-2l-1.364 6h-5l1.364-6h-2l-1.364 6h-6.184l-.452 2h6.182l-1.364 6h-5.36l-.458 2h5.364l-1.364 6h2l1.364-6h5l-1.364 6h2l1.364-6h6.185l.451-2h-6.182l1.364-6h5.366zm-8.73 6h-5l1.364-6h5l-1.364 6z" fill="#f59e0b"/>
            </svg>
            <h1 class="mt-4 text-xl font-semibold text-gray-200"><%= games %> Games</h1>
            <p class="mt-2 text-gray-400">Radon Games has <%= games %> Emulator, Flash, HTML, and WebGl games. All that you can play in your browser for free!</p>
          </div>
          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container px-6 py-8 mx-auto">
        <div class="items-center lg:flex">
          <div class="flex items-center justify-center md:w-48">
          </div>
          <div class="lg:w-1/2">
              <h2 class="text-3xl font-bold text-gray-100">Powered by Ruffle</h2><br/>
              <h3 class="text-1xl font-semibold text-gray-300">What is Ruffle?</h3>

              <p class="mt-4 text-gray-400 lg:max-w-md">
              Ruffle is a Flash Player emulator written in the Rust programing language, it aims to put Flash back on the web, where it belongs. <u><a target="_blank" rel="noreferrer" href="https://ruffle.rs"></a>You can read more about it here</a></u>.
              </p>

              <div class="flex items-center mt-6 -mx-2">
                <a class="mx-2" rel="noreferrer" href="https://github.com/ruffle-rs/ruffle" target="_blank" aria-label="Github">
                  <svg class="w-5 h-5 fill-current text-gray-100" viewBox="0 0 512 512">
                    <path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/>
                  </svg>
                </a>
              </div>
          </div>

          <div class="mt-8 lg:mt-0 lg:w-1/2">
            <div class="flex items-center justify-center lg:justify-end">
              <div class="max-w-lg">
                <img src="/img/ruffle.svg" alt="Ruffle"/>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>
    </section>
    
    <%- include("../components/footer") %>
    
  </body>
</html>