<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <section class="w-full max-w-2xl m-10 px-6 py-4 mx-auto">
      <h2 class="text-3xl font-semibold text-center text-gray-200">Bug Report</h2>
      <span class="text-red-500"><% if(locals.error) { %><%= error %><% } %></span>
      <span class="text-green-500"><% if(locals.message) { %><%= message %><% } %></span>
      <form class="mt-6" method="POST" action="/report">

        <div class="w-full mt-4">
          <label class="block mb-2 text-sm font-medium text-gray-200">Message<span class="text-red-500">*</span></label>
          <textarea id="textarea" name="message" class="block w-full h-40 px-4 py-2 text-gray-300 bg-gray-800 border rounded-md border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"></textarea>
        </div>

        <div class="flex justify-center mt-6">
          <input type="submit" class="px-4 py-2 text-gray-200 transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600" value="Report"/>
        </div>
      </form>
    </section>
    
    <%- include("../components/footer") %>
  </body>
</html>